In [22]:
import numpy as np
import pandas as pd

In [27]:
df_large=pd.read_csv("sorted_data_large.csv",index_col=False)

In [ ]:
df_large

,Unnamed: 0,LAT,LON,YEAR,DOY,EVLAND,GWETPROF,GWETROOT,GWETTOP,PRECSNO,...,TS_MIN,WD2M,WD50M,WS2M,WS2M_MAX,WS2M_MIN,WS50M,WS50M_MAX,WS50M_MIN,Z0M
0,17,22.5,25.625,2019,1,0.00,0.37,0.36,0.09,0.0,...,1.39,323.8,325.9,2.82,5.11,1.45,6.02,7.70,4.00,0.01
1,18,22.5,26.250,2019,1,0.00,0.27,0.27,0.04,0.0,...,2.33,315.7,317.8,3.01,5.05,1.61,6.40,8.18,4.07,0.01
2,19,22.5,26.875,2019,1,0.00,0.20,0.20,0.04,0.0,...,3.23,319.0,319.0,2.39,3.50,1.53,5.71,7.59,3.57,0.01
3,20,22.5,27.500,2019,1,0.00,0.15,0.15,0.04,0.0,...,4.83,323.3,323.8,2.52,3.87,1.63,5.84,7.65,3.69,0.01
4,21,22.5,28.125,2019,1,0.00,0.20,0.20,0.04,0.0,...,4.43,324.3,326.0,2.44,3.59,1.44,5.60,7.91,3.49,0.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
503971,122605,31.0,33.125,2023,365,0.13,0.14,0.14,0.16,0.0,...,13.01,325.9,325.5,2.48,4.52,0.47,4.01,6.08,0.73,0.01
503972,122609,31.5,25.625,2023,365,0.14,0.35,0.35,0.28,0.0,...,11.94,279.9,279.9,2.15,3.51,0.74,3.23,4.69,1.07,0.01
503973,122610,31.5,26.250,2023,365,0.09,0.34,0.33,0.25,0.0,...,13.21,285.5,286.5,2.43,3.98,0.54,3.40,4.90,0.74,0.00
503974,122617,31.5,30.625,2023,365,0.92,0.51,0.51,0.66,0.0,...,15.88,334.7,335.8,2.99,4.63,1.33,4.27,5.71,1.86,0.01
503975,122618,31.5,31.250,2023,365,0.98,0.64,0.64,0.65,0.0,...,15.21,340.6,341.8,3.03,4.87,1.48,4.39,5.94,2.20,0.00

In [ ]:
df_large.isnull().sum()

Unnamed: 0     0
LAT            0
LON            0
YEAR           0
DOY            0
EVLAND         0
GWETPROF       0
GWETROOT       0
GWETTOP        0
PRECSNO        0
PRECTOTCORR    0
QV2M           0
RH2M           0
RHOA           0
T10M           0
T10M_MAX       0
T10M_MIN       0
T2M            0
T2M_MAX        0
T2M_MIN        0
TO3            0
TS             0
TSOIL1         0
TSOIL2         0
TSOIL3         0
TSOIL4         0
TSOIL5         0
TSOIL6         0
TS_MAX         0
TS_MIN         0
WD2M           0
WD50M          0
WS2M           0
WS2M_MAX       0
WS2M_MIN       0
WS50M          0
WS50M_MAX      0
WS50M_MIN      0
Z0M            0
dtype: int64

In [30]:
df_large.duplicated().sum()

np.int64(0)

In [31]:
df_large.info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503976 entries, 0 to 503975
Data columns (total 39 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Unnamed: 0   503976 non-null  int64
 1   LAT          503976 non-null  float64
 2   LON          503976 non-null  float64
 3   YEAR         503976 non-null  int64
 4   DOY          503976 non-null  int64
 5   EVLAND       503976 non-null  float64
 6   GWETPROF     503976 non-null  float64
 7   GWETROOT     503976 non-null  float64
 8   GWETTOP      503976 non-null  float64
 9   PRECSNO      503976 non-null  float64
 10  PRECTOTCORR  503976 non-null  float64
 11  QV2M         503976 non-null  float64
 12  RH2M         503976 non-null  float64
 13  RHOA         503976 non-null  float64
 14  T10M         503976 non-null  float64
 15  T10M_MAX     503976 non-null  float64
 16  T10M_MIN     503976 non-null  float64
 17  T2M          503976 non-null  float64
 18  T2M_MAX      503976 non-null  float64
 19  T2M_MIN      503976 non-null  float64
 20  TO3          503976 non-null  float64
 21  TS           503976 non-null  float64
 22  TSOIL1       503976 non-null  float64
 23  TSOIL2       503976 non-null  float64
 24  TSOIL3       503976 non-null  float64
 25  TSOIL4       503976 non-null  float64
 26  TSOIL5       503976 non-null  float64
 27  TSOIL6       503976 non-null  float64
 28  TS_MAX       503976 non-null  float64
 29  TS_MIN       503976 non-null  float64
 30  WD2M         503976 non-null  float64
 31  WD50M        503976 non-null  float64
 32  WS2M         503976 non-null  float64
 33  WS2M_MAX     503976 non-null  float64
 34  WS2M_MIN     503976 non-null  float64
 35  WS50M        503976 non-null  float64
 36  WS50M_MAX    503976 non-null  float64
 37  WS50M_MIN    503976 non-null  float64
 38  Z0M          503976 non-null  float64
dtypes: float64(36), int64(3)
memory usage: 150.0 MB

In [32]:
df_large['DOY']= df_large['DOY'].astype(int) 
df_large['YEAR'] = df_large['YEAR'] . astype (int)

In [ ]:
rows_with_negative_999 = df_large[(df_large == -999).any(axis=1)]
print("Rows containing -999:")
print(rows_with_negative_999)

Rows containing -999:
Empty DataFrame
Columns: [Unnamed: 0, LAT, LON, YEAR, DOY, EVLAND, GWETPROF, GWETROOT, GWETTOP, PRECSNO, PRECTOTCORR, QV2M, RH2M, RHOA, T10M, T10M_MAX, T10M_MIN, T2M, T2M_MAX, T2M_MIN, TO3, TS, TSOIL1, TSOIL2, TSOIL3, TSOIL4, TSOIL5, TSOIL6, TS_MAX, TS_MIN, WD2M, WD50M, WS2M, WS2M_MAX, WS2M_MIN, WS50M, WS50M_MAX, WS50M_MIN, Z0M]
Index: []

[0 rows x 39 columns]

In [ ]:
nan_counts = df_large.isna().sum()
print("Count of NaN in each column:")
print(nan_counts)

Count of NaN in each column:
Unnamed: 0     0
LAT            0
LON            0
YEAR           0
DOY            0
EVLAND         0
GWETPROF       0
GWETROOT       0
GWETTOP        0
PRECSNO        0
PRECTOTCORR    0
QV2M           0
RH2M           0
RHOA           0
T10M           0
T10M_MAX       0
T10M_MIN       0
T2M            0
T2M_MAX        0
T2M_MIN        0
TO3            0
TS             0
TSOIL1         0
TSOIL2         0
TSOIL3         0
TSOIL4         0
TSOIL5         0
TSOIL6         0
TS_MAX         0
TS_MIN         0
WD2M           0
WD50M          0
WS2M           0
WS2M_MAX       0
WS2M_MIN       0
WS50M          0
WS50M_MAX      0
WS50M_MIN      0
Z0M            0
dtype: int64

Count of outliers in each column:
Unnamed: 0         0
LAT                0
LON                0
YEAR               0
DOY                0
EVLAND         36124
GWETPROF         534
GWETROOT        1050
GWETTOP         8061
PRECSNO          108
PRECTOTCORR    62621
QV2M             982
RH2M               0
RHOA               0
T10M               0
T10M_MAX           0
T10M_MIN           0
T2M                0
T2M_MAX            0
T2M_MIN            0
TO3             1125
TS                 0
TSOIL1             0
TSOIL2             0
TSOIL3             0
TSOIL4             0
TSOIL5             0
TSOIL6             0
TS_MAX             0
TS_MIN             0
WD2M               0
WD50M              0
WS2M             527
WS2M_MAX         354
WS2M_MIN        1869
WS50M            128
WS50M_MAX        794
WS50M_MIN          8
Z0M             9050
dtype: int64